<div class="block_error_404">
    <h1 style="font-size: 2em;">Ошибка!</h1>
    <div class="error_description">
        Oops?.
        <p class="error_type">Error: 404</p>
        <div class="back_404">
            Вы не туда попали.{{{buttonBack}}}
        </div>
    </div>
</div>
